.about {
  margin: 80px 170px;
}


/* -------TITLE----------*/
.about-title {
  text-align: center;
  margin-bottom: 60px;
}


.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}


/*--------MAIN LAYOUT-------*/
.about-section {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* ------LEFT SECTION-------*/
.about-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-left p {
  max-width: 520px;
  font-size: 20px;
  line-height: 40px;
  font-family: outfit;
}



/*-----RIGHT SECTION------*/
.about-right {
  flex: 1;
}

.about-right h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* SKILLS GRID */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skill-card {
  padding: 15px 25px;
  background:  #32323c;
  border-radius: 12px;
  text-align: center;
  font-weight: 500;
  color: white;
  font-family: outfit;
  transition: 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  background: linear-gradient(267deg, #265cc9 0.3%, #B923E1 102.06%);
  color: white; 
}

/* RESPONSIVE */
@media (max-width:768px) {

    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1{
         font-size: 48px;
        padding-top: 10px;
    }

  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
}
