.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 120px;
}

/* TITLE */
.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0px 20px;
  font-size: 72px;
  font-weight: 600;
  margin-top: 40px;
}

/* MAIN SECTION */
.contact-section {
  display: flex;
  gap: 120px;
  width: 100%;
}

/* LEFT SIDE */
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 56px;
  font-weight: 500;
  background: linear-gradient(267deg, #265cc9 0.3%, #B923E1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 550px;
  font-size: 20px;
  line-height: 34px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 18px;
}

.contact-detail img {
  width: 24px;
}

/* RIGHT SIDE (FORM) */
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  width: 100%;
}

.contact-right label {
  font-size: 20px;
  font-weight: 500;
}

.contact-right input,
.contact-right textarea {
  width: 100%;
  max-width: 650px;
  border: none;
  padding: 18px 20px;
  border-radius: 6px;
  background: #32323c;
  color: #a0a0a0;
  font-family: outfit;
  font-size: 18px;
}

.contact-right input {
  height: 70px;
}

.contact-right textarea {
  min-height: 160px;
  resize: none;
}

/* SUBMIT BUTTON */
.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(267deg, #265cc9 0.3%, #B923E1 102.06%);
  font-size: 20px;
  padding: 16px 50px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-submit:hover {
  transform: scale(1.05);
}

/* ---------------- TABLET ---------------- */
@media (max-width: 1024px) {
  .contact {
    margin: 60px 60px;
  }

  .contact-section {
    gap: 80px;
  }
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {
  .contact {
    gap: 50px;
    margin: 40px 20px;
    align-items: flex-start;
  }

  .contact-title h1 {
    font-size: 44px;
    padding: 0;
  }

  .contact-section {
    flex-direction: column;
    gap: 50px;
  }

  .contact-left h1 {
    font-size: 38px;
  }

  .contact-left p {
    font-size: 16px;
    line-height: 28px;
  }

  .contact-details {
    gap: 16px;
    font-size: 16px;
  }

  .contact-detail img {
    width: 20px;
  }

  .contact-right label {
    font-size: 16px;
  }

  .contact-right input,
  .contact-right textarea {
    font-size: 16px;
    padding: 14px 16px;
  }

  .contact-submit {
    padding: 14px 40px;
    font-size: 16px;
  }
}
