.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.logo{
    padding: 20px 40px;
    /* border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.3%, #B923E1 102.06%); */
    font-size: 30px;
}

/* .nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.3%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
} */


.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-toggle {
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: #eee;
  transition: 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.05);
}

.anchor-link{
  text-decoration: none;
  color: rgb(125, 122, 122); 
}



/* ---------Media Query form mobile responsiveness------------ */
@media(max-width: 768px){
  .navbar{
    margin: 20px 50px;
  }

  .nav-connect{
    display: none;
  }
  
}
