
.footer{
    margin: 50px 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}


/*----------media query for mobile responsiveness-----------*/
@media (max-width: 768px){
    .footer{
        display: block;
        text-align: center;
        margin: 50px 70px;
    }

    .footer ul li{
        margin: 10px;
    }

    .footer ul{
        margin-top: 10px;
        display: inline-block;
    }
}
