*{
  margin: 0;
  padding: 0;
}

/* body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'outfit';
} */

body {
  background: white;
  color: black;
  transition: 0.3s ease;
  font-family: 'outfit';
}

body.dark {
  background: #0f172a;
  color: white;
}
